.clue {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.clue-list {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

.clue-list tr {
    border-bottom: 1px solid #ddd;
}

.clue-list td {
    vertical-align: middle;
    padding: 0.5em 0em;
    min-width: 7em;
}

.red-link {
    color: var(--primary-main);
}

.answer-cell {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.clues-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.normal-width {
    width: 60%;
}
