.clue-list {
    width: 80%;
    border-collapse: separate;
    border-spacing: 1em 0;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

.clue-list tr {
    border-bottom: 1px solid #ddd;
}

.clue-list td {
    vertical-align: middle;
    padding: 0.5em 0em;
    text-overflow: ellipsis;
}

.red-link {
    color: var(--primary-main);
}

.answer-cell {
    overflow-x: scroll;
    display: flex;
    justify-content: flex-end;
}

.search-bar {
    width: 60%;
}

.clues-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .answer-cell {
        overflow-x: scroll;
        display: flex;
        justify-content: flex-start;
    }
    .clue-list {
        width: 100%;
    }
    .clues-container {
        align-items: flex-start;
    }
    #search {
        width: 100%;
    }
    .search-bar {
        width: 100%;
    }
}
