.modal-container {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
    justify-content: center;
    align-items: center;
}

.modal-card {
    width: 40%;
    height: 40%;
    background-color: white;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 5%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-group {
    display: flex;
    justify-content: space-between;
}
